.avaliacao-container {
  height: auto;
  max-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 3fr 100px;
  color: #eee;
  background-color: #142432;
  text-align: center;
  position: relative;
}

.logoExpo {
  margin-top: 25px;
}

.avaliacao-container .titleOpiniao {
  font-size: 3.2rem;
  font-weight: 500;
}

.avaliacao-container .subTitleOpniao {
  font-size: 1.7rem;
  font-weight: 300;
}

header {
  width: 100%;
  position: relative;
  /* border: solid 3px green; */
}

.btnEnviarAvaliacao {
  background: #3B9C45;
  width: 450px;
  height: 75px;
  color: white;
  font-size: 1.8rem;
  font-weight: 500;
  border-radius: 10px;
}

.scLogos {
  width: 350px;
}

.btnVoltar {
  width: 75px;
  position: absolute;
  right: 160px;
  top: 60px;
  opacity: .5;
  cursor: pointer;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border: solid 3px red; */
}

/* Cards Config */
section .cardsAvaliacao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 100%;
  gap: 10px;
  padding: 20px 5rem;
}

.card {
  width: 100%;
  height: 100%;
  background: #121A22;
  border-radius: 15px;
}

footer { 
  /* border: solid 3px orange; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertaVisual {
  background-color: yellow;
  opacity: .7;
  color: #000;
  margin: 0 3px;
  padding: 3px;
  height: 30px;
  position: relative;
  border-radius: 0 0 8px 8px;
  top: -32px;
}