.cardContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 35px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 12px;
  padding: 1rem 1.5rem;
  border: solid 3px rgba(194, 212, 226, .2);
  border-radius: 10px;
}

.icon {
  /* border: solid 1px green; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  opacity: .7;
}

.icon img {
  width: 100%;
}

.icon p {
  font-size: 1.1rem;
  margin-top: 5px;
}

.titleCardContainer{
  /* border: solid 1px red; */
  padding: 0;
  margin: 0;
  grid-column: 1/6;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleCardContainer h3 {
  font-weight: 500;
  font-size: 1.rem;
  font-weight: 600;
}

/********** Botoes Carinhas ativos  ***********/

/* Muito Ruim Config */
.muitoRuimShow {
  opacity: 1;
}

.muitoRuimActive {
  box-shadow: 0px 0px 30px 2px #FD645F;
  border-radius: 100%;
  transition: .3s ease-out;
}
.iconMuitoRuimActive {
  /* width: 110%!important; */
}
.TextMuitoRuimActive {
  color:#FD645F;
  font-weight: bold;
  transition: .3s ease-out;
}

/* Ruim Config */
.ruimShow {
  opacity: 1;
}
.ruimActive {
  box-shadow: 0px 0px 30px 2px #FC9A29;
  border-radius: 100%;
  transition: .3s ease-out;
}
.iconRuimActive {
  /* width: 110%!important; */
}
.TextRuimActive {
  color:#FC9A29;
  font-weight: bold;
  transition: .3s ease-out;
}

/* Razoavel Config */
.razoavelShow {
  opacity: 1;
}
.razoavelActive {
  box-shadow: 0px 0px 30px 2px #FFE357;
  border-radius: 100%;
  transition: .3s ease-out;
}
.iconRazoavelActive {
  /* width: 110%!important; */
}
.TextRazoavelActive {
  color:#FFE357;
  font-weight: bold;
  transition: .3s ease-out;
}

/* Bom Config */
.bomShow {
  opacity: 1;
}
.bomActive {
  box-shadow: 0px 0px 35px 2px #55E241;
  border-radius: 100%;
  transition: .3s ease-out;
}
.iconBomActive {
  /* width: 110%!important; */
}
.TextBomActive {
  color:#55E241;
  font-weight: bold;
  transition: .3s ease-out;
}

/* Muito Bom Config */
.muitoBomShow {
  opacity: 1;
}
.muitoBomActive {
  box-shadow: 0px 0px 35px 2px #43BC27;
  border-radius: 100%;
  transition: .3s ease-out;
}
.iconMuitoBomActive {
  /* width: 110%!important; */
}
.TextMuitoBomActive {
  color:#43BC27;
  font-weight: bold;
  transition: .3s ease-out;
}