#bgArenaCultural {
  background: rgba(85, 26, 97, 0.781);
  border-radius: 8px;
}

#footerCultural {
  background: linear-gradient(90deg, rgba(77, 23, 88, 0) 0%, rgba(75, 22, 80, 0.5) 25%, rgb(55, 17, 63) 50%, rgba(73, 22, 78, 0.5) 75%, rgba(71, 24, 75, 0) 100%);
}