#bgGreyGoose {
  background: rgba(0, 0, 0, 0.838);
  border-radius: 8px;
}

#footerGreyGoose {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 25%, rgb(53, 56, 58) 50%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0) 100%);

}