#bgMariaBonita {
  background: rgba(46, 20, 20, 0.781);
  border-radius: 8px;
}

#footerMariaBonita {
  background: linear-gradient(90deg, rgba(66, 37, 37, 0) 0%, rgba(66, 37, 37, 0.5) 25%, rgb(75, 34, 34) 50%, rgba(66, 37, 37, 0.5) 75%, rgba(66, 37, 37, 0) 100%);
}