body {
  position: relative !important;
}

.leaflet-container {
  width: 100% !important;
  height: 100% !important;
}

.leaflet-popup {
  position: relative !important;
  width: 100% !important;
  height: 100% !important;
}

.leaflet-popup-content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
  max-width: 1000px;
  max-height: 573px;
  height: 75vh;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(63, 63, 63, 0);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.7);
  backdrop-filter: blur(13.5px);
  -webkit-backdrop-filter: blur(13.5px);
  border-radius: 10px;
  border: 3px solid rgba(162, 191, 218, 0.233);
  -moz-box-shadow: -1px 39px 55px 0px rgba(37, 50, 66, 1);
  box-shadow: -1px 39px 55px 0px rgba(37, 50, 66, .5);
  pointer-events: none;
}


.leaflet-popup-close-button {
  display: none !important;
  top: 0 !important;
  right: 0 !important;
}

.leaflet-popup-tip-container {
  display: none;
}

/* CONFIG POPUP CONTEUDO */

.leaflet-popup-content {
  width: 100% !important;
  height: 100% !important;
  position: relative;
  /* border: solid 1px red; */
  margin: 0 !important;
}

.leaflet-popup-content main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  padding-bottom: 5px;
}

.leaflet-popup-content header {
  display: flex;
  /* border: solid 1px green; */
  width: 100%;
  height: 65%;
  position: relative;
}

.leaflet-popup-content main header .img-container {
  width: 40%;
  /* border: solid 1px violet; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}

.leaflet-popup-content main header .img-container img {
  width: 120%;
}

.leaflet-popup-content main header .containerIntro {
  width: 60%;
  /* border: solid 1px rgb(255, 157, 0); */
  padding: 1rem;
  padding-top: 50px;
  font-family: Poppins;
}

.leaflet-popup-content main header .containerIntro h1 {
  font-size: 4rem;
  font-weight: 400;
}

.leaflet-popup-content main header .containerIntro p {
  font-size: 1.2rem;
  width: 80%;
  font-weight: 00;
  font-family: Poppins, sans-serif;
  color: #fff;
  opacity: .6;
}

/* NAV CONFIG */

.leaflet-popup-content main footer {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 35%;
  width: 100%;
  z-index: 20;
  padding-top: 30px;
  overflow-x: scroll !important;
  pointer-events: auto;
}

.leaflet-popup-content main footer nav {
  position: relative;
}

.leaflet-popup-content main footer h3 {
  text-transform: uppercase;
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: .9rem;
  letter-spacing: 2px;
  color: #fff;
  margin-left: 25px;
  z-index: 2000;
  position: fixed;
  margin-top: -93px;
  opacity: .7;
}

.leaflet-popup-content main footer .navAtracoes {
  display: flex;
  height: 100%;
  justify-content: start;
  align-items: center;
  gap: 10px;
  position: absolute;
  margin-left: -30px;
}

.leaflet-popup-content main footer .navAtracoes li {
  /* border: solid 1px yellowgreen; */
  width: 130px;
  height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #777;
  border-radius: 15px;
  background-color: #C7CBD8;
  transition: .4s;
  opacity: .7;
  pointer-events: auto !important;
}

/* estados do botão */

.leaflet-popup-content main footer .navAtracoes li:active {
  background-color: white;
  transition: .2s;
  width: 105px;
  height: 105px;
}

.leaflet-popup-content main footer .navAtracoes li:hover {
  border: solid 4px rgb(50, 183, 255);
  opacity: 1;
}

.leaflet-popup-content main footer .navAtracoes li img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}

/* btnHomePrgramacao config */

.btnHomePrgramacao {
  width: 65px;
  height: 65px;
  top: 8px;
  right: 8px;
  background: #000000;
  position: absolute;
  background-image: url('./home-icon.png');
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 6px;
  opacity: .3;
  pointer-events: auto;
}

/* icon location config */
img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  margin-top: -94px !important;
}



/* Estilos para telas com largura máxima de 480px */
@media (max-width: 480px) {
  body {
    font-size: 14px;
    text-align: center;
  }

  h1 {
    font-size: 2rem !important;

  }

  .btnHomePrgramacao {
    width: 45px;
    height: 45px;
    top: 6px;
    right: 6px;
    background: #000000;
    position: absolute;
    background-image: url('./home-icon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    background-position: center;
    opacity: .3;
  }




  .leaflet-popup-content main {
    padding: 0;
  }

  .leaflet-popup-content header {
    display: flex;
    flex-direction: column;
    /* border: solid 1px green; */
    width: 100%;
    height: 70%;
    position: relative;
    text-align: center;
  }


  .leaflet-popup-content main header .img-container {
    width: 100%;
    height: 200px !important;
    /* border: solid 2px red; */
  }

  .leaflet-popup-content main header .containerIntro {
    width: 100%;
    padding: 0;
  }


  .leaflet-popup-content main header .containerIntro p {
    font-size: 14px;
    width: 100%;
    padding: 0 35px;
    margin: 0;
  }

  .leaflet-popup-content main footer {
    height: 36%;
    overflow-x: scroll !important;
  }

  .leaflet-popup-content main footer nav ul {
    margin-left: -30px;
    pointer-events: auto !important;
  }

  .leaflet-popup-content main footer nav ul li {
    pointer-events: auto !important;
  }

}

/* Estilos para telas com largura mínima de 768px */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }

  /* Mais estilos específicos para telas maiores */
  /* ... */
}

/* DO COMPONENTE */

#bgPalcoLaia {
  background: rgba(25, 37, 60, 0.781);
  border-radius: 8px;
}

#footerPalcoLaia {
  background: linear-gradient(90deg, rgba(37, 50, 66, 0) 0%, rgba(37, 50, 66, 0.5) 25%, rgba(37, 50, 66, 1) 50%, rgba(37, 50, 66, 0.5) 75%, rgba(37, 50, 66, 0) 100%);
}