/* HEADER */
.header {
  background: radial-gradient(59.36% 3107.35% at 49.08% -51.8%, #215CB1 0%, #1A4277 49.5%, #142473 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  width: 100vw;
  height: 20px;
  position: relative;
  /* top: -150px; */
  transition: .6s cubic-bezier(.18,.89,.32,1.28);
}

.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 2.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  position: relative;
}

.header .navbar li a {
  display: block;
  padding: 1rem;
}

/* Logos config */
.logo-expo, .logo-prefeitura {
  position: fixed;
  top: 20px;
}

.logo-expo {
  left: 40px;
}

.logo-prefeitura {
  right: 40px;
  top: 20px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

/* Btn Navbar */
.btn-navbar svg{ 
  width: 100%;
  margin-top: -30px;
  cursor: pointer;
}

/* Animacao */
.logoToggle {
  top: 35px;
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

.open {
  /* top: 0; */
  height: 200px;
}