/* HEADER */
/* .headerMain {
  height: 20%;
  background: linear-gradient(rgba(0, 0, 0, .7) 10%, rgba(4, 62, 162, 0) 100%);
  transition: .6s cubic-bezier(.08, .82, .17, 1);
}

.headerMainBGShow {
  height: 100%;
  transition: .6s cubic-bezier(.08, .82, .17, 1);
} */

.header {
  background: radial-gradient(59.36% 3107.35% at 49.08% -51.8%, #215CB1 0%, #1A4277 49.5%, #142473 100%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  width: 100vw;
  height: 20px;
  position: relative;
  /* top: -150px; */
  transition: .6s cubic-bezier(.08, .82, .17, 1);
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 60px 43px rgba(14, 22, 48, 0.2);
  z-index: 2;
}

header .tourVirtual {
  position: absolute;
  font-size: .8rem;
  z-index: 9999;
  text-transform: uppercase;
  left: 50%;
  top: 5.5%;
  transform: translate(-50%, -50%);
  letter-spacing: 6px;
  color: white;
  opacity: .3;
  transition: .6s cubic-bezier(.08, .82, .17, 1);
}

.tourVirtualPDelay {
  top: 3% !important;
  transition: .6s cubic-bezier(.08, .82, .17, 1);
}

.header .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  min-height: 80px;
  padding: 0 2.5rem;
  position: absolute;
  top: 0;
  width: 100%;
  position: relative;
  background: linear-gradient(90deg, rgba(4, 62, 162, 0) 0.86%, rgba(30, 30, 30, .2) 50%, rgba(4, 62, 162, 0) 100.22%);
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

.header .navbar li a {
  display: block;
  padding: 1.5rem;
  font-size: 1.5rem;
}

/* Logos config */
.logo-expo,
.logo-prefeitura {
  position: fixed;
  top: 30px;
}

.logo-expo {
  left: 40px;
}

.logo-prefeitura {
  right: 40px;
  width: 200px;
  top: 0px;
  opacity: 0;
  visibility: hidden;
  transition: .2s;
}

/* Btn Navbar */
.btn-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  cursor: pointer;
  margin-top: -20px;
  /* background-color: red; */
  width: 200px;
  width: 100%;
}

.btn-navbar img {
  width: 100%;
}

/* Btn Avaliacao */
.btnAvaliacao {
  width: 115px;
  position: absolute;
  right: 60px;
  bottom: 4px;
}

.iconArrowDown {
  width: 22px !important;
  position: absolute;
  top: 50px;
  transition: .4s;
  cursor: pointer;
  opacity: .7;
}

/* Animacao */
.logoToggle {
  top: 45px;
  opacity: 1;
  visibility: visible;
  transition: .5s;
}

.open {
  /* top: 0; */
  height: 200px;
}

.navbarShow {
  opacity: 1 !important;
  visibility: visible !important;
  transition: .5s;
}

.iconArrowUp {
  width: 25px;
  position: absolute;
  transform: rotate(180deg);
  transition: .4s;
}