

.leaflet-popup-content-wrapper {
  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
  width: 50vw;
  min-height: 50vh;
  height: auto;
  /* Estilo do contêiner do conteúdo do Popup */
}

.leaflet-popup-content {
  /* Estilo do conteúdo do Popup */
}

.leaflet-popup-tip-container {
  /* Estilo do contêiner da ponta do Popup */
}

.leaflet-popup-tip {
  /* Estilo da ponta do Popup */
}

/* Personalize outros elementos internos do Popup conforme necessário */
